.feature {
  padding: 100px 50px;
  background-color: #fff;
}
.feature__list {
  display: flex;
  flex-direction: row;
}
.feature__title {
  margin-bottom: 50px;
}
.feature__list-item {
  flex: 1;
  padding: 20px;
  box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.08);
  transition: 0.2s;
  &:hover {
    transform: translateY(-10px);
  }
}
.feature__list-item + .feature__list-item {
  margin-left: 50px;
}
