// header style

$height: 80px;
$fixedHeight: 60px;

.header {
  z-index: 999;
  width: 100%;
  padding: 0 60px;
  height: $height;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  background: #eee;
  transition: all 0.2s;

  &--fixed {
    background-color: #fff;
    box-shadow: 0 2px 16px 0 rgba(0, 0, 0, 0.25);
    height: $fixedHeight;
    .header__logo img {
      max-height: $fixedHeight;
    }
  }
  &__logo {
    img {
      padding: 15px 0;
      max-height: $height;
      transition: all 0.2s;
      width: auto;
    }
  }
  &__nav-lg {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    ul {
      list-style: none;
    }
    li {
      display: inline-block;
    }
    li + li {
      margin-left: 40px;
    }
    li a {
      font-size: 16px;
      padding: 15px 0;
    }
  }
  &__nav-sm {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .open {
    width: 30px;
    height: 12px;
    display: inline-block;
    background: #aaa;
    position: absolute;
    top: 30px;
    padding: 4px 0;
    background-clip: content-box;
    right: 30px;
    z-index: 9999;
    transition: 0.2s;
    user-select: none;
    &:hover {
      cursor: pointer;
    }
    &::before {
      content: '';
      transition: 0.2s;
      display: inline-block;
      position: absolute;
      top: -4px;
      height: 4px;
      width: 30px;
      background-color: #aaa;
    }
    &::after {
      content: '';
      display: inline-block;
      transition: 0.2s;
      position: absolute;
      bottom: -4px;
      height: 4px;
      width: 30px;
      background-color: #aaa;
    }
  }
  .open--close {
    height: 0px;
    &::before {
      transform: translateY(6px) rotate(45deg);
    }
    &::after {
      transform: translateY(-6px) rotate(-45deg);
    }
  }
  .active {
    transform: translateX(0) !important;
  }
  .header {
    overflow: hidden;
    &__nav-lg {
      display: none;
    }
    &__nav-sm {
      display: inline-block;
      margin-left: auto;
      ul {
        transform: translateX(100%);
        transition: 0.2s;
        height: 100%;
        position: fixed;
        right: 0;
        background-color: #000;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          display: block;
          padding: 20px 60px;
          a:link,
          a:visited {
            color: #aaa;
          }
          a:hover {
            color: $red;
          }
        }
      }
    }
  }
}
